body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    & ol li {
        line-height: 2rem;
    }
}

figure[is=table-timeline] {
    margin: 0;
    width:100%;
}