.my-timeline {
    --border-width: 1px;

    --colour-background: hsl(120, 10%, 90%);
    --colour-background-darker: hsl(120, 10%, 80%);
    --colour-font: hsl(120, 9%, 15%);
    --colour-summary-background: hsl(120, 10%, 80%);

    --colour-tag-0: hsl(240, 1%, 38%);
    --colour-tag-1: hsl(220, 70%, 57%);
    --colour-tag-2: hsl(316, 60%, 60%);
    --colour-tag-3: hsl(108, 80%, 70%);
    --colour-tag-4: hsl(60, 63%, 46%);
    --colour-tag-5: hsl(60, 90%, 70%);
    --colour-tag-6: hsl(0, 14%, 36%);
    --colour-tag-7: hsl(180, 63%, 68%);
    --colour-tag-8: hsl(123, 37%, 50%);
    --colour-tag-9: hsl(313, 40%, 37%);

    display: block;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
    overflow: hidden;

    color: var(--colour-font);
    background-color: var(--colour-background);

    .filters {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: start;
        gap: 1.4rem;
        margin: 0 0 0.5rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid var(--colour-background-darker);

        & form {
            display: flex;
            flex-wrap: wrap;
            gap: 0.6rem;
            justify-content: flex-start;
            align-items: center;

            & label {
                margin: 0;
                padding: 0.2rem 0.5rem;
                text-align: center;
                border: 1px solid var(--colour-background);
            }

            & label:not(:has(input[checked])) {
                background-color: var(--colour-background);
                cursor: pointer;
                &:has(input[type="radio"]) {
                    border: 1px solid var(--colour-background-darker);
                    &:hover {
                        background-color: var(--colour-background-darker);
                    }
                }
                &:has(input[type="checkbox"]) {
                    &:hover {
                        background-color: white;
                    }
                }
            }

            & label:has(input[checked]) {
                background-color: white;
                &:has(input[type="checkbox"]) {
                    &:hover {
                        background-color: var(--colour-background-darker);
                    }
                }
            }

            & label:has(input[type="checkbox"]) {
                cursor: pointer;
            }

            &.views,
            &.sorting {
                gap: 0;
                & input {
                    display: none;
                }
            }

            &.search {
                gap: 0;
                .search-results {
                    margin-left: 0.5rem;
                }
            }

            &.tags {
                & input {
                    display: none;
                }
                & label {
                    margin-right: 1rem;
                    --border-width: 6px;
                    &.tag-0 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-0);
                    }
                    &.tag-1 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-1);
                    }
                    &.tag-2 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-2);
                    }
                    &.tag-3 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-3);
                    }
                    &.tag-4 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-4);
                    }
                    &.tag-5 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-5);
                    }
                    &.tag-6 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-6);
                    }
                    &.tag-7 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-7);
                    }
                    &.tag-8 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-8);
                    }
                    &.tag-9 {
                        border-bottom: var(--border-width) solid
                            var(--colour-tag-9);
                    }
                }
            }

            &.search {
                & label {
                    background-color: transparent;
                    padding: 0 0 0 0.5rem;
                }
                & input {
                    background-color: var(--colour-background-darker);
                    border: var(--border-width) solid
                        var(--colour-background-darker);
                    padding: 0.3rem 0.5rem;
                }
            }
        }
    }

    .events {
        z-index: 20;
        flex-basis: 100%;
    }

    /* Category indicators */
    .summary .content,
    .event {
        .tag {
            position: relative;
            display: inline-block;
        }
        .tag::before {
            display: inline-block;
            position: relative;
            content: "*";
            color: transparent;
            height: 0.8rem;
            width: 0.8rem;
            margin-right: 0.5rem;
            top: 0.2rem;
        }
        &[data-tag-index="0"] .tag::before {
            background-color: var(--colour-tag-0);
        }
        &[data-tag-index="1"] .tag::before {
            background-color: var(--colour-tag-1);
        }
        &[data-tag-index="2"] .tag::before {
            background-color: var(--colour-tag-2);
        }
        &[data-tag-index="3"] .tag::before {
            background-color: var(--colour-tag-3);
        }
        &[data-tag-index="4"] .tag::before {
            background-color: var(--colour-tag-4);
        }
        &[data-tag-index="5"] .tag::before {
            background-color: var(--colour-tag-5);
        }
        &[data-tag-index="6"] .tag::before {
            background-color: var(--colour-tag-6);
        }
        &[data-tag-index="7"] .tag::before {
            background-color: var(--colour-tag-7);
        }
        &[data-tag-index="8"] .tag::before {
            background-color: var(--colour-tag-8);
        }
        &[data-tag-index="9"] .tag::before {
            background-color: var(--colour-tag-9);
        }
    }

    .event {
        display: block;
        height: auto;
        transition: opacity ease-in-out 200ms, height ease-in-out 300ms;
        &.not-matches,
        &.hide {
            opacity: 0;
            height: 0 !important;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .title {
            display: inline-block;
            margin: 2rem 0 0 0;
        }
        & h4 {
            margin: 1rem 0 0.5rem 0;
        }
    }

    /* Citation numbering */
    .event,
    .summary {
        counter-reset: cite;
    }
    & cite {
        display: block;
        padding: 0 0 0.5rem 1.2rem;
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            counter-increment: cite;
            content: counter(cite) ". ";
        }
    }

    .x-axis {
        display: none;
    }

    & figcaption {
        display: block;
        background-color: var(--colour-background-darker);
        padding: 0.5rem;
        margin: 1rem 0 0 0;
        text-align: center;
    }
}

.my-timeline[data-view="text"] .event {
    margin-left: 0 !important;
    width: auto !important;
    .dates {
        display: inline-block;
        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }
    .tag {
        display: inline-block;
        margin-left: 0.6rem;
    }
    .content {
        margin-top: 0.5rem;
    }
}

.my-timeline[data-view="chart"] {
    .container {
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 10;

        .summary {
            z-index: 30;
            flex-basis: 0%;
            position: relative;
            visibility: hidden;
            opacity: 0;
            background-color: var(--colour-summary-background);
            transition: flex-basis ease-in-out 300ms, opacity ease-in-out 600ms;
            .close {
                display: none;
                position: absolute;
                top: 0.3rem;
                right: 0.3rem;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;
                padding: 0.2rem 0.4rem;
                &:hover {
                    background-color: var(--colour-background);
                }
            }
            .title {
                margin: 1rem 0 0.3rem 0;
            }
            .body {
                margin-top: 1rem;
            }
        }
        &.show-summary {
            gap: 1rem;
            .summary {
                opacity: 1;
                visibility: visible;
                flex-basis: 50%;
                padding: 0.5rem;
                .close {
                    display: block;
                }
            }
            .events {
                flex-basis: 50%;
                .event:not(.selected) {
                    opacity: 0.8;
                }
            }
        }
    }

    .event {
        position: relative;
        height: 1.6rem;
        margin-bottom: 0.2rem;
        cursor: pointer;
        box-shadow: 0.2rem 0.2rem 0.2rem var(--colour-background-darker);
        &[data-tag-index="0"] {
            background-color: var(--colour-tag-0);
        }
        &[data-tag-index="1"] {
            background-color: var(--colour-tag-1);
        }
        &[data-tag-index="2"] {
            background-color: var(--colour-tag-2);
        }
        &[data-tag-index="3"] {
            background-color: var(--colour-tag-3);
        }
        &[data-tag-index="4"] {
            background-color: var(--colour-tag-4);
        }
        &[data-tag-index="5"] {
            background-color: var(--colour-tag-5);
        }
        &[data-tag-index="6"] {
            background-color: var(--colour-tag-6);
        }
        &[data-tag-index="7"] {
            background-color: var(--colour-tag-7);
        }
        &[data-tag-index="8"] {
            background-color: var(--colour-tag-8);
        }
        &[data-tag-index="9"] {
            background-color: var(--colour-tag-9);
        }

        .title {
            font-size: 1rem;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            padding: 0.1rem 0.5rem;
            position: absolute;
            top: 0.1rem;
            left: 100%;
            right: auto;
        }
        &.selected .title {
            font-weight: bold;
        }
        &.right .title {
            left: auto;
            right: 100%;
        }
        &.centre {
            display: flex;
            justify-content: center;
            align-items: center;
            .title {
                display: inline-block;
                position: static;
                color: white;
                /* background-color: var(--colour-background); */
                padding: 0.1rem 0.5rem;
            }
        }
        .dates,
        .tag,
        .content {
            display: none;
        }
    }

    .x-axis {
        display: flex;
        margin-top: 0.5rem;
        border-top: 1px solid black;
        justify-content: space-between;
        .x-axis-label {
            border-left: 1px solid black;
            padding: 0.3rem 0.5rem 0 0.5rem;
        }
        .x-axis-label:last-child {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .my-timeline {
        .show-summary {
            .summary {
                flex-basis: 100%;
            }
            .events {
                opacity: 0;
                visibility: hidden;
                flex-basis: 0%;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 500px) {
    .my-timeline[data-view="chart"] .x-axis {
        .x-axis-label {
            display: none;
            flex-basis: 50% !important;
        }
        .x-axis-label:first-child,
        .x-axis-label:last-child {
            display: block;
        }
        .x-axis-label:last-child {
            text-align: right;
            border-left: none;
            border-right: 1px solid black;
        }
    }
}
